<%= form_for( current_user.follows.find_by_collection_id(collection.id),
              html: { method: :delete }) do |f| %>
  <div><%= f.hidden_field :collection_id %></div>
  <%= f.submit "Unfollow", class: "btn" %>
<% end %>
