<article>
  <header>
    <h1><%= content.title %></h1>
    <div>
      <%= link_to content.location, content.location %>
    </div>
  </header>

  <div>
    <%= content.body %>
  </div>

  <footer>
    <%= link_to 'Show', collection_content_path(@collection, content) %>
  </footer>
</article>
