<%= content_tag_for(:article, source) do %>
  <header>
    <h1><%= source.location %></h1>
    <div>
      <%= link_to source.location, source.location %>
    </div>
  </header>

  <footer></footer>
<% end %>
