<p id="notice"><%= notice %></p>

<%= render @source %>

<%= link_to 'Edit', edit_source_path(@source) %>

<hr>

<%= render partial: 'collections/collection_listing', collection: @source.collections, as: :collection %>
