<h1>Collections followed by <%= @user.flexible_name %></h1>

<hr>

<ol>
  <% @user.followed_collections.each do |collection| %>
  <li>
    <h3><%= link_to collection.subject, collection %></h3>
    <p><%= collection.description %></p>
  </li>
  <% end %>
</ol>
