<h1>Collections followed by <%= @user.flexible_name %></h1>

<hr>

<ol>
  <%= content_tag_for(:li, @user.followed_collections) do |collection| %>
    <h3><%= link_to collection.subject, collection %></h3>
    <p><%= collection.description %></p>
  <% end %>
</ol>
