<% unless flash.empty? %>
<div id="flash">
  <% flash.each do |key, message| %>
    <div class="alert alert-<%= key %>">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= message %>
    </div>
  <% end %>
</div>
<% end %>
