<header id="header" role="banner">

  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <%= link_to 'Weighted', root_path, :class => 'navbar-brand' %>

      <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Hello <%= link_to current_user.flexible_name, user_path(current_user), :class => 'navbar-link' %>
        <% else %>
          <%= link_to "Read why you should sign up", new_user_registration_path, :class => 'navbar-link' %>
        <% end %>
      </p>
    </div>
  </div>

</header>
